:root {
    box-sizing: border-box;
}
*, *::before, *::after {
    box-sizing: inherit;
}
body {
    width: 100%;
    height:100%;
    margin: 0;
}

.content-section {
    /* border: black solid 1px; */
    height: 100%;
    /* width: 30%; */
}

#order-container {
    display:flex;
    flex-direction: column;
}

#order-details {
    /* background-color:lightgreen; */
    top:0;
    position:fixed;
    width:70%;
    right:0;
    height:100vh;
}

.order {
    border: black solid 1px; 
    list-style: none;
    height:50px;
    width:30%;
    padding: 4px;
}

.order-details-h1 {
    margin:0;
    text-align: center;
    font-size:30px;
}

.order-details-body {
    padding:30px;
}

.order-details-h2 {
    margin:0;
    font-size:20px;
}

.details-text {
    margin:0;
}